spring:
  jpa:
    database: POSTGRESQL
    show-sql: true
  datasource:
    platform: postgres
    url: jdbc:postgresql://localhost:5432/postgres?stringtype=unspecified
    username: decom
    password: decom
    driverClassName: org.postgresql.Driver
  flyway:
    enabled:  true
    schemas:  decom
    locations:  db/migration

